{% extends 'base.html' %}
{% load static %}

{% block content %} 
  
  <!-- ================> Page header start here <================== -->
  <!-- ================> Page header end here <================== -->




  <!-- ===============>> Blogs section start here <<================= -->
  <section class="page-header bg--cover" >
</section>
  <div class="blog padding-top padding-bottom section-bg-color ">
    <div class="container">
      <div class="blog__wrapper">
        <div class="row g-4">
          <div class="col-sm-6 col-lg-4">
            <div class="blog__item" data-aos="fade-up" data-aos-duration="800">
              <div class="blog__item-inner blog__item-inner--style2">
                <div class="blog__thumb">
                  <img src="{% static 'images/blog/1.png' %}" alt="blog Images">
                </div>

                <div class="blog__content">
                  <div class="blog__meta">
                    <span class="blog__meta-tag blog__meta-tag--style1">Forex trading</span>
                  </div>
                  <h5 class="10 style2"> <a href="blog-details.html">online trading for beginners</a> </h5>

                  <p class="mb-15">Lorem ipsum dolor sit amet Iaculis suspendisse semper m dolor amet Iaculis lectus
                    ipsum dolor sit amet Iaculis suspendisse semper amet lectus...</p>

                  <div class="blog__writer">
                    <div class="blog__writer-thumb">
                      <img src="{% static 'images/blog/author/1.png' %}" alt="writer">
                    </div>
                    <div class="blog__writer-designation">
                      <p>Senturk Yasar</p>
                      <span>Mar 25, 2023</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="blog__item" data-aos="fade-up" data-aos-duration="1000">
              <div class="blog__item-inner blog__item-inner--style2">
                <div class="blog__thumb">
                  <img src="{% static 'images/blog/2.png' %}" alt="blog Images">
                </div>

                <div class="blog__content">
                  <div class="blog__meta">
                    <span class="blog__meta-tag blog__meta-tag--style2">Trading market</span>
                  </div>
                  <h5 class="10 style2"> <a href="blog-details.html">advantages of day trading</a> </h5>

                  <p class="mb-15">Lorem ipsum dolor sit amet Iaculis suspendisse semper m dolor amet Iaculis lectus
                    ipsum dolor sit amet Iaculis suspendisse semper amet lectus...</p>

                  <div class="blog__writer">
                    <div class="blog__writer-thumb">
                      <img src="{% static 'images/blog/author/2.png' %}" alt="writer">
                    </div>
                    <div class="blog__writer-designation">
                      <p>Yilmaz Orhan</p>
                      <span>Feb 10, 2023</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="blog__item" data-aos="fade-up" data-aos-duration="1200">
              <div class="blog__item-inner blog__item-inner--style2">
                <div class="blog__thumb">
                  <img src="{% static 'images/blog/3.png' %}" alt="blog Images">
                </div>

                <div class="blog__content">
                  <div class="blog__meta">
                    <span class="blog__meta-tag blog__meta-tag--style1">Investment</span>
                  </div>
                  <h5 class="10 style2"> <a href="blog-details.html">Conditions to Claim Deduction</a> </h5>

                  <p class="mb-15">Lorem ipsum dolor sit amet Iaculis suspendisse semper m dolor amet Iaculis lectus
                    ipsum dolor sit amet Iaculis suspendisse semper amet lectus...</p>

                  <div class="blog__writer">
                    <div class="blog__writer-thumb">
                      <img src="{% static '' %}/images/blog/author/3.png" alt="writer">
                    </div>
                    <div class="blog__writer-designation">
                      <p>Huseyin Akcagul</p>
                      <span>May 16, 2023</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="blog__item" data-aos="fade-up" data-aos-duration="800">
              <div class="blog__item-inner blog__item-inner--style2">
                <div class="blog__thumb">
                  <img src="{% static 'images/blog/4.png' %}" alt="blog Images">
                </div>

                <div class="blog__content">
                  <div class="blog__meta">
                    <span class="blog__meta-tag blog__meta-tag--style2">Forex trading</span>
                  </div>
                  <h5 class="10 style2"> <a href="blog-details.html">extra source of income</a> </h5>

                  <p class="mb-15">Lorem ipsum dolor sit amet Iaculis suspendisse semper m dolor amet Iaculis lectus
                    ipsum dolor sit amet Iaculis suspendisse semper amet lectus...</p>

                  <div class="blog__writer">
                    <div class="blog__writer-thumb">
                      <img src="{% static 'images/blog/author/4.png' %}" alt="writer">
                    </div>
                    <div class="blog__writer-designation">
                      <p>Gazali Oztepe</p>
                      <span>Mar 29, 2023</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="blog__item" data-aos="fade-up" data-aos-duration="1000">
              <div class="blog__item-inner blog__item-inner--style2">
                <div class="blog__thumb">
                  <img src="{% static 'images/blog/5.png' %}" alt="blog Images">
                </div>

                <div class="blog__content">
                  <div class="blog__meta">
                    <span class="blog__meta-tag blog__meta-tag--style1">Investment</span>
                  </div>
                  <h5 class="10 style2"> <a href="blog-details.html">control trades and portfolio</a> </h5>

                  <p class="mb-15">Lorem ipsum dolor sit amet Iaculis suspendisse semper m dolor amet Iaculis lectus
                    ipsum dolor sit amet Iaculis suspendisse semper amet lectus...</p>

                  <div class="blog__writer">
                    <div class="blog__writer-thumb">
                      <img src="{% static 'images/blog/author/5.png' %}" alt="writer">
                    </div>
                    <div class="blog__writer-designation">
                      <p>Muazzez Yasar</p>
                      <span>Nov 22, 2023</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="blog__item" data-aos="fade-up" data-aos-duration="1200">
              <div class="blog__item-inner blog__item-inner--style2">
                <div class="blog__thumb">
                  <img src="{% static 'images/blog/6.png' %}" alt="blog Images">
                </div>

                <div class="blog__content">
                  <div class="blog__meta">
                    <span class="blog__meta-tag blog__meta-tag--style2">Trading market</span>
                  </div>
                  <h5 class="10 style2"> <a href="blog-details.html">The Pros and Cons of Trading</a> </h5>

                  <p class="mb-15">Lorem ipsum dolor sit amet Iaculis suspendisse semper m dolor amet Iaculis lectus
                    ipsum dolor sit amet Iaculis suspendisse semper amet lectus...</p>

                  <div class="blog__writer">
                    <div class="blog__writer-thumb">
                      <img src="{% static 'images/blog/author/6.png' %}" alt="writer">
                    </div>
                    <div class="blog__writer-designation">
                      <p>Sevil Haslak</p>
                      <span>Apr 25, 2023</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="blog__item" data-aos="fade-up" data-aos-duration="800">
              <div class="blog__item-inner blog__item-inner--style2">
                <div class="blog__thumb">
                  <img src="{% static 'images/blog/7.png' %}" alt="blog Images">
                </div>

                <div class="blog__content">
                  <div class="blog__meta">
                    <span class="blog__meta-tag blog__meta-tag--style1">Forex trading</span>
                  </div>
                  <h5 class="10 style2"> <a href="blog-details.html">Diversified Trading Portfolio</a> </h5>

                  <p class="mb-15">Lorem ipsum dolor sit amet Iaculis suspendisse semper m dolor amet Iaculis lectus
                    ipsum dolor sit amet Iaculis suspendisse semper amet lectus...</p>

                  <div class="blog__writer">
                    <div class="blog__writer-thumb">
                      <img src="{% static 'images/blog/author/7.png' %}" alt="writer">
                    </div>
                    <div class="blog__writer-designation">
                      <p>Ayse Nuriye</p>
                      <span>Feb 15, 2023</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="blog__item" data-aos="fade-up" data-aos-duration="1000">
              <div class="blog__item-inner blog__item-inner--style2">
                <div class="blog__thumb">
                  <img src="{% static 'images/blog/8.png' %}" alt="blog Images">
                </div>

                <div class="blog__content">
                  <div class="blog__meta">
                    <span class="blog__meta-tag blog__meta-tag--style2">Trading market</span>
                  </div>
                  <h5 class="10 style2"> <a href="blog-details.html">Profits Trading Techniques</a> </h5>

                  <p class="mb-15">Lorem ipsum dolor sit amet Iaculis suspendisse semper m dolor amet Iaculis lectus
                    ipsum dolor sit amet Iaculis suspendisse semper amet lectus...</p>

                  <div class="blog__writer">
                    <div class="blog__writer-thumb">
                      <img src="{% static 'images/blog/author/8.png' %}" alt="writer">
                    </div>
                    <div class="blog__writer-designation">
                      <p>Gulnaz Dagli</p>
                      <span>May 25, 2023</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="blog__item" data-aos="fade-up" data-aos-duration="1200">
              <div class="blog__item-inner blog__item-inner--style2">
                <div class="blog__thumb">
                  <img src="{% static 'images/blog/9.png' %}" alt="blog Images">
                </div>

                <div class="blog__content">
                  <div class="blog__meta">
                    <span class="blog__meta-tag blog__meta-tag--style1">Investment</span>
                  </div>
                  <h5 class="10 style2"> <a href="blog-details.html">Fundamental Analysis</a> </h5>

                  <p class="mb-15">Lorem ipsum dolor sit amet Iaculis suspendisse semper m dolor amet Iaculis lectus
                    ipsum dolor sit amet Iaculis suspendisse semper amet lectus...</p>

                  <div class="blog__writer">
                    <div class="blog__writer-thumb">
                      <img src="{% static 'images/blog/author/9.png' %}" alt="writer">
                    </div>
                    <div class="blog__writer-designation">
                      <p>Avni Evran</p>
                      <span>Jul 25, 2023</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="paginations" data-aos="fade-up" data-aos-duration="1200">
          <ul class="lab-ul d-flex flex-wrap justify-content-center mb-1">
            <li>
              <a href="#"><i class="fa-solid fa-angle-left me-2"></i> Prev</a>
            </li>
            <li>
              <a href="#" class="active">1</a>
            </li>
            <li class="d-none d-sm-block">
              <a href="#">2</a>
            </li>
            <li class="d-none d-sm-block">
              <a href="#">3</a>
            </li>
            <li>
              <a href="#" class="dot">...</a>
            </li>
            <li>
              <a href="#">12</a>
            </li>
            <li>
              <a href="#" class="active">Next <i class="fa-solid fa-angle-right ms-2"></i> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- ===============>> Blogs section start here <<================= -->
  {% endblock %}



